{{template "zz-header.html"}}
<main class="w-400 m-auto">
    <p>
        <i class="bi bi-person-circle"></i>
        {{ .User.Firstname}} {{ .User.Lastname }}
        <a class="btn btn-light btn-sm" href="/user?id={{ .User.Id }}" title="edit"><i class="bi bi-pencil"></i></a>
        {{if .User.IsAdmin }}<a class="btn btn-light btn-sm" href="/users" title="all users"><i class="bi bi-people"></i></a>{{end}}
        <a class="btn btn-light btn-sm" href="/logout" title="logout"><i class="bi bi-box-arrow-right"></i></a>
    </p>
    <h1 class="h3 mb-3 fw-normal">
        <img src="/img/checklist.webp" alt="logo" width="7%">
        Tasks
        <a href="task" class="btn btn-outline-primary" title="Add"><i class="bi bi-plus-circle"></i></a>
    </h1>

    <form action="search" method="post">
        <div class="input-group mb-3">
            <input class="form-control" type="text" id="search" name="search" placeholder="search text"
                   aria-label="search text" aria-describedby="button-search" value="{{.SearchText}}"/>
            <button class="btn btn-outline-secondary" type="submit" id="button-search" title="search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>

    {{range .Tasks}}
    {{template "widget-task-card.html" .}}
    {{end}}

</main>
{{template "zz-footer.html"}}